[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
markdown = "*"
django-filter = "*"
python-dotenv = "*"
psycopg2-binary = "*"
torch = "*"
torchvision = "*"
torchaudio = "*"
djangorestframework-simplejwt = "*"
django-cors-headers = "*"
django-anymail = "*"
deepface = "*"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.12"
